# Manipulação de dados
pandas>=2.0.0

# Pré-processamento
regex>=2023.0.0

# Treinamento e modelagem
torch>=2.0.0
transformers>=4.30.0
datasets>=2.10.1

# Para avaliação de métricas
scikit-learn>=1.3.0

# Utilitários extras (opcional)
tqdm>=4.66.0

accelerate

datasets